[Desktop Entry]
Encoding=UTF-8
Name=Magmelldollar Core
Comment=Connect to the Magmelldollar P2P Network
Comment[de]=Verbinde mit dem Magmelldollar peer-to-peer Netzwerk
Comment[fr]=Magmelldollar, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Magmelldollar, eşten eşe kriptografik sanal para birimi
Exec=magmelldollar-qt %u
Terminal=false
Type=Application
Icon=magmelldollar128
MimeType=x-scheme-handler/magmelldollar;
Categories=Office;Finance;
