
## <summary>policy for magmelldollar</summary>


########################################
## <summary>
##	Transition to magmelldollar.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`magmelldollar_domtrans',`
	gen_require(`
		type magmelldollar_t, magmelldollar_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, magmelldollar_exec_t, magmelldollar_t)
')


########################################
## <summary>
##	Execute magmelldollar server in the magmelldollar domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`magmelldollar_initrc_domtrans',`
	gen_require(`
		type magmelldollar_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, magmelldollar_initrc_exec_t)
')


########################################
## <summary>
##	Search magmelldollar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`magmelldollar_search_lib',`
	gen_require(`
		type magmelldollar_var_lib_t;
	')

	allow $1 magmelldollar_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read magmelldollar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`magmelldollar_read_lib_files',`
	gen_require(`
		type magmelldollar_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, magmelldollar_var_lib_t, magmelldollar_var_lib_t)
')

########################################
## <summary>
##	Manage magmelldollar lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`magmelldollar_manage_lib_files',`
	gen_require(`
		type magmelldollar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, magmelldollar_var_lib_t, magmelldollar_var_lib_t)
')

########################################
## <summary>
##	Manage magmelldollar lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`magmelldollar_manage_lib_dirs',`
	gen_require(`
		type magmelldollar_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, magmelldollar_var_lib_t, magmelldollar_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an magmelldollar environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`magmelldollar_admin',`
	gen_require(`
		type magmelldollar_t;
		type magmelldollar_initrc_exec_t;
		type magmelldollar_var_lib_t;
	')

	allow $1 magmelldollar_t:process { ptrace signal_perms };
	ps_process_pattern($1, magmelldollar_t)

	magmelldollar_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 magmelldollar_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, magmelldollar_var_lib_t)

')

