policy_module(magmelldollar, 1.100.1)

########################################
#
# Declarations
#

type magmelldollar_t;
type magmelldollar_exec_t;
init_daemon_domain(magmelldollar_t, magmelldollar_exec_t)

permissive magmelldollar_t;

type magmelldollar_initrc_exec_t;
init_script_file(magmelldollar_initrc_exec_t)

type magmelldollar_conf_t;
files_type(magmelldollar_conf_t)

type magmelldollar_var_lib_t;
files_type(magmelldollar_var_lib_t)

type magmelldollar_var_run_t;
files_type(magmelldollar_var_run_t)

type magmelldollar_port_t;
corenet_port(magmelldollar_port_t)

########################################
#
# magmelldollar local policy
#
allow magmelldollar_t self:process { fork };

allow magmelldollar_t self:fifo_file rw_fifo_file_perms;
allow magmelldollar_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(magmelldollar_t, magmelldollar_conf_t, magmelldollar_conf_t)
manage_files_pattern(magmelldollar_t, magmelldollar_conf_t, magmelldollar_conf_t)

manage_dirs_pattern(magmelldollar_t, magmelldollar_var_lib_t, magmelldollar_var_lib_t)
manage_files_pattern(magmelldollar_t, magmelldollar_var_lib_t, magmelldollar_var_lib_t)
files_var_lib_filetrans(magmelldollar_t, magmelldollar_var_lib_t, { dir file })

manage_dirs_pattern(magmelldollar_t, magmelldollar_var_run_t, magmelldollar_var_run_t)
manage_files_pattern(magmelldollar_t, magmelldollar_var_run_t, magmelldollar_var_run_t)

sysnet_dns_name_resolve(magmelldollar_t)
corenet_all_recvfrom_unlabeled(magmelldollar_t)

allow magmelldollar_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(magmelldollar_t)
corenet_tcp_sendrecv_generic_node(magmelldollar_t)
corenet_tcp_sendrecv_all_ports(magmelldollar_t)
corenet_tcp_bind_generic_node(magmelldollar_t)

gen_require(`
    type magmelldollar_port_t;
')
allow magmelldollar_t magmelldollar_port_t:tcp_socket name_bind;

gen_require(`
    type magmelldollar_port_t;
')
allow magmelldollar_t magmelldollar_port_t:tcp_socket name_connect;

domain_use_interactive_fds(magmelldollar_t)

files_read_etc_files(magmelldollar_t)

miscfiles_read_localization(magmelldollar_t)

sysnet_dns_name_resolve(magmelldollar_t)

allow magmelldollar_t magmelldollar_exec_t:file execute_no_trans;
allow magmelldollar_t self:process setsched;
corecmd_exec_ls(magmelldollar_t)
corenet_tcp_connect_http_port(magmelldollar_t)
dev_read_urand(magmelldollar_t)
fs_getattr_xattr_fs(magmelldollar_t)
kernel_read_system_state(magmelldollar_t)
