[Unit]
Description=Magmelldollar's distributed currency daemon
After=network.target

[Service]
User=magmelldollar
Group=magmelldollar

Type=forking
PIDFile=/var/lib/magmelldollard/magmelldollard.pid
ExecStart=/usr/bin/magmelldollard -daemon -pid=/var/lib/magmelldollard/magmelldollard.pid \
-conf=/etc/magmelldollar/magmelldollar.conf -datadir=/var/lib/magmelldollard -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
